body {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: center;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;	
}

.main-header {
	width: 100%;
	background-color: #eeeeee;
}

.main-navigation {
	display: flex;
	align-items: center;
	padding-top: 49px;
}

a {
  text-decoration: none;
}

.main-navigation,
.site-navigation,
.icon-basket {
  list-style: none;
}

.main-navigation .active {
	border-bottom: 2px solid #fb565a;
}

.site-navigation .active a:hover,
.site-navigation .active a:active {
	color: #000;
	cursor: default;
	opacity: 1;
}

.main-navigation a:hover{
	color: #fb565a;
}

.main-navigation a:active {
	opacity: 0.3;
	color: #000;
}

.main-navigation a,
.icon-basket {
	text-decoration: none;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 500;
	color: #000;
}

.icon-basket {
	display: inline-block;
	position: relative;
	padding-left: 26px;
}

.icon-basket:before {
	position: absolute;
	top: 7px;
	left: 0px;
	content: "";
	width: 15px;
	height: 15px;
	background: url(../img/cart-icon.png) no-repeat;
}

.main-header-logo {
	margin-right: 140px;
}

.main-header-logo img:hover {
	opacity: 0.8;
}

.main-header-logo img:active {
	opacity: 0.3;
}

.site-navigation {
	display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px 60px 0;
	width: 443px;
}

.main-navigation div {
    margin-left: auto;
	padding-top: 10px;  
}

.slider {
	height: 430px;
    width: 100%;
	text-align: left;
	position: relative;
    padding: 0;
}

.slider input[type="radio"] {
	position: absolute;
    opacity: 0;
}

.slider-controls {
    position: absolute;
    bottom: 105px;
    left: 528px;
    height: 10px;
    text-align: center;
    z-index: 1000;
}

.slider label {
	display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 7px;
    background: white;
    border: 6px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background: url(../img/radio-active.png) no-repeat 50% 50%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slide:nth-child(1) {
	background-image: url(../img/slide1.png);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.slide:nth-child(2) {
	background-image: url(../img/slide2.png);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.slide:nth-child(3) {
	background-image: url(../img/slide3.png);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.slide {
	display: none;
}

.slide:nth-child(1) .slide-title {
    width: 380px;
    margin-top: 13px;
	margin-bottom: 27px;
	padding-top: 57px;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px; 
}

.slide:nth-child(2) .slide-title {
    width: 520px;
    margin-top: 13px;
	margin-bottom: 27px;
	padding-top: 57px;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;    
}

.slide:nth-child(3) .slide-title {
    width: 410px;
    padding-right: 130px;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	margin-top: 13px;
	margin-bottom: 27px;
	padding-top: 57px;    
}

.slides p {
    max-width: 420px;
	margin-top: 5px;
	margin-bottom: 52px;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
	display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
	display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
	display: block;
}

.btn {
	padding: 16px 53px;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	font-family: 'Roboto', 'Arial', sans-serif;
	background-color: #fb565a;
	text-align: center;
	border-radius: 5px;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}

.btn:hover {
	background-color: #e74246; 
}

.btn:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

.products-row {
    border-bottom: 2px solid #eeeeee;
}

.products-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 80px 0;
    text-align: left;
    padding: 0;
}

.products-list .site {
    display: flex;
    flex-basis: 300px;
    flex-direction: column;
    align-self: center;
    margin-right: 100px; 
}

.products-list .app {
    display: flex;
    flex-basis: 300px;
    flex-direction: column;
    margin-right: 100px; 
}

.products-list .presentation {
    display: flex;
    flex-basis: 300px;
    flex-direction: column;  
}

.product h3 {
	text-transform: uppercase;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #000;
	margin-bottom: 0;
}

.product p {
	padding: 0 40px 24px 0;
	margin-bottom: 10px;
}

.product .btn  {
	padding: 19px 40px;
    margin-right: auto;
}

.app .btn-2 {
	background-color: #00ca74;
}

.app .btn-2:hover {
	background-color: #00bc6c;
}

.app .btn-2:active {
	background-color: #00aa62;
}

.presentation .btn-3 {
	background-color: #efc84a;
}

.presentation .btn-3:hover {
	background-color: #eab534;
}

.presentation .btn-3:active {
	background-color: #e5a722;
}

.about-us {
	display: flex;
	margin-top: 40px;
	padding-bottom: 78px;
    border-bottom: 2px solid #eeeeee;
}

.about-us-text {
	text-align: left;
}

.about-us-text .title {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	margin-bottom: 33px;
}

.text {
	padding-right: 40px;
}

.list-title {
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 39px;
	margin-bottom:24px;
}

.about-us-text ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.about-us-text li {
	position: relative;
    padding-bottom: 24px;
	padding-left: 36px;
	position: relative;
}

.about-us-text li:before {
	position: absolute;
	content: "";
	width: 25px;
	height: 2px;
	top: 11px;
	left: 0;
	background: url(../img/list-icon.png) no-repeat;
}

.about-us-features {
	margin-right: 0;
	margin-left: 100px;
	margin-top: 10px;
}

.about-us-features .features {
	margin-right: 23px;
	text-align: left;
	line-height: 18px;
}

.about-us-features img {
	width: 360px;
	margin-bottom: 14px;
}

.about-us-features > p {
	text-transform: uppercase;
	font-weight: 700;
}

.about-us-features .flex {
	display: flex;
	justify-content: flex-start;
    width: 360px;
}

.big {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	margin-top: 18px;
	margin-bottom: 18px;
}

.big sup {
	font-size: 26px;
	line-height: 40px;
}

.partners {
	border-bottom: 2px solid #eeeeee;
}

.our-partners {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 40px 0 36px;
	padding: 0;
	font-size: 0;
}

.our-partners li:not(:last-child) { 
    border-right: 2px solid #eeeeee;
}

.our-partners li:first-child {
	margin-left: 0;
}

.our-partners li:last-child {
	margin-right: 0;
}

.our-partners a {
	display: flex;
	width: 260px;
	padding: 40px 0px;
	opacity: 0.2;
}

.our-partners a:hover {
	opacity: 1;
}

.our-partners a:active {
	opacity: 0.1;
}

.our-partners .html {
	background: url(../img/partners-1.png) no-repeat 50% 50%;
}

.our-partners .barbershop {
	background: url(../img/partners-2.png) no-repeat 50% 50%;
}

.our-partners .pink {
	background: url(../img/partners-3.png) no-repeat 50% 50%;
}

.our-partners .mishka {
	background: url(../img/partners-4.png) no-repeat 50% 50%;
}

.contacts {
	position: relative;
}

.contacts .adress {
	width: 270px;
	padding-left: 50px;
	padding-top: 36px;
	padding-bottom: 48px;
	text-align: left;
	position: absolute;
	top: 133px;
    z-index: 5;
	background-color: white;
}

.contacts img {
	position: absolute;
	top: 168px;
    right: 250px;
    z-index: 5;
}

.contacts-title {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000;
	font-family: 'Roboto Condensed', 'Arial', sans-serif;
	font-weight: bold;
	margin-bottom: 27px;
}

.contacts p {
	line-height: 20px;
}

.map {
	text-align:center;
	margin-top: 80px;
    position: relative;
}

.map img {
	background: url(../img/map-marker.png) no-repeat 50% 50%;
}

.contacts a {
	display: block;
	margin-top: 34px;
	width: 220px;
	box-sizing: border-box;
	padding: 16px 0;
}

.footer {
	display: flex;
	justify-content: flex-start;
	margin-top: 60px;
	margin-bottom: 68px;
}

.social {
	width: 260px;
	margin-right: 140px;
}

.social ul {
    display: flex;
    justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.social a {
	display: flex;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background: #e1e1e1 url(../img/vk-icon.png) no-repeat 50% 50%;
}

.social a:hover {
	background-color: #e74246;
}

.social a:active {
	background: #d7373b url(../img/vk-icon-active.png) no-repeat 50% 50%;
	box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);

}

.social .fb {
	background: #e1e1e1 url(../img/fb-icon.png) no-repeat 50% 50%;
}

.social .fb:active {
	background: #d7373b url(../img/fb-icon-active.png) no-repeat 50% 50%;
}

.social .insta {
	background: #e1e1e1 url(../img/insta-icon.png) no-repeat 50% 50%;
}

.social .insta:active {
	background: #d7373b url(../img/insta-icon-active.png) no-repeat 50% 50%;
}

.join {
    width: 560px;
	text-align: left;
}

.join b {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	margin-top: 7px;
    margin-bottom: 0px;
	color: #000;
}

.join p {
    line-height: 22px;
	font-size: 16px;
	color: #444444;
	margin-top: 10px;
}

/*МОДАЛЬНОЕ ОКНО*/

.modal-content {
    position: absolute;
    width: 760px;
    padding: 70px 250px;
    color: #000000;
    background-color: #ffffff;
    text-align: left;
}

.modal-content-close {
    position: absolute;
    top: 74px;
    right: 90px;
    width: 26px;
    height: 26px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}

.modal-content-close::before,
.modal-content-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 26px;
    height: 5px;
    background-color: #fecccd;
    border-radius: 1px;
}

.modal-content-close:hover:before,
.modal-content-close:hover:after {
    background-color: #fb565a;
}

.modal-content-close:active:before,
.modal-content-close:active:after {
    background-color: #ffeeee;
}

.modal-content-close::before {
    transform: rotate(45deg);
}

.modal-content-close::after {
    transform: rotate(-45deg);
}

.modal-content .username-email {
	display: flex;
}

.modal-content input[type="text"] {
	display: block;
	width: 360px;
	height: 50px;
	padding-left: 13px;
	border: 2px solid #d7dcde;
	box-sizing: border-box;
	margin-top: 7px;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 18px;
	color: rgba(68,68,68, 0.5);
	font-family: 'Roboto', 'Arial', sans-serif;
}

.modal-content textarea {
	display: block;
	width: 760px;
	height: 118px;
	padding-left: 13px;
    padding-top: 11px;
	border: 2px solid #d7dcde;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 18px;
	color: rgba(68,68,68, 0.5);
	font-family: 'Roboto', 'Arial', sans-serif;
	margin-top: 7px;
	margin-bottom: 47px;
}

.modal-content input[type="text"]:hover,
.modal-content textarea:hover {
    border: 2px solid #b4b9bb;
}

.modal-content input[type="text"]:focus,
.modal-content textarea:focus {
	border: 2px solid #000;
	color: #444444;
}

.modal-content input[type="text"]:required:invalid,
.modal-content textarea:required:invalid {
	border: 2px solid #e74246;
	color: #e74246;
}

.modal-content input[type="text"]:focus,
.modal-content textarea:focus {
	outline: none;
}

.modal-content p {
	margin: 0;
	padding: 0;
	border: none;
	margin-right: 40px;
}

.modal-content label {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}

.modal-content .btn {
	border: none;
	outline: none;
	width: 260px;
	margin-bottom: 14px;
}



/*КАТАЛОГ*/



.catalog-title h1 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	margin-top: 71px;
    padding-bottom: 107px;
}

.shop aside {
	text-align: left;
	width: 260px;
	padding-right: 20px;
	margin-right: 120px;
}

.shop {
	display: flex;
}

.shop .filter-name {
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0;
}

.shop .filter-name:first-child {
	margin-top: 10px;
}

.catalog{
	flex-grow: 1;
	width: 760px;
}

.range-filter {
    width: 260px;
    margin: 50px auto 54px; 
}

.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #f1f1f1;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar { 
    position: absolute;
    top: 39px;    
    margin-left: 5px;
    width: 140px;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .min-toggle {
    left: 17px;
}

.range-controls .max-toggle {
    left: 159px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    font-size: 16px;
    width: 50%;
}

.max-price {
    text-align: right;
}

.price-controls input {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    width: 60px;
    margin-left: 10px;
    padding: 8px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.filter input[type="radio"],
.filter input[type="checkbox"] {
	display: none;
}

.filter input[type="checkbox"] + label,
.filter input[type="radio"] + label {
	cursor: pointer;
	color: #283136;
}

.filter input[type="radio"] + label::before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../img/radio-off.png) left center no-repeat;
	opacity: 0.4;
	margin-right: 10px;
	vertical-align: middle;
}

.filter input[type="radio"]:checked + label:before {
	background: url(../img/radio-on.png) no-repeat;
}

.filter input[type="checkbox"] + label::before {
	content: "";
	display: inline-block;
	width: 27px;
	height: 23px;
	background: url(../img/checkbox-off.png) left center no-repeat;
	opacity: 0.4;
	margin-right: 9px;
	vertical-align: middle;
}

.filter input[type="checkbox"]:checked + label::before {
	background: url(../img/checkbox-on.png) no-repeat;
}

.filter input[type="checkbox"] + label:hover,
.filter input[type="radio"] + label:hover {
	color: #000;
}

.filter input[type="checkbox"] + label:hover::before,
.filter input[type="checkbox"]:checked + label:hover::before,
.filter input[type="radio"] + label:hover::before,
.filter input[type="radio"]:checked + label:hover::before {
	opacity: 1;
}

.filter input[type="checkbox"] + label:active::before,
.filter input[type="checkbox"]:checked + label:active::before,
.filter input[type="radio"] + label:active::before,
.filter input[type="radio"]:checked + label:active::before {
	opacity: 0.2;
}

.filter fieldset {
	border: none;
	padding: 0;
	margin: 0;
	margin-bottom: 45px;
}

.radio p {
	margin-bottom: -3px;
}

.filter .btn {
	background-color: #eeeeee;
	padding: 16px 89px;
	color: #000;
	font-weight: 500;
	outline:none;
	border:none;
	margin-top: -13px;
}

.filter .btn:hover {
	background-color: #dfdfdf;
}

.filter .btn:active {
	color: rgba(0,0,0,0.3);
}

.sorting {
	display: flex;
	justify-content: space-between;
	text-align: left;
	align-items: center;
}

.sorting-title {
	width: 360px;
	line-height: 18px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.all-products {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.all-products > div:nth-child(2n) {
	margin-right: 0;
	text-align: right;
}

.product-item {
	position: relative;
	display: flex;
	width: 360px;
	height: 616px;
	border-radius: 5px 5px 0 0;
	margin-top: 36px;
	background: #e9e9e9 url(../img/sedona.jpg) no-repeat 0 40px;
}

.product-item:before {
    position: absolute;
    top: 10px;
    left: 29px;
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 50%;
    background-color: #fff;
    box-shadow: -17px 0 0 0 #fff, 17px 0 0 0 #fff;
}

.product-item:hover {
	background-color: #4d4d4d;
}

.product-item:nth-child(2) {
	background-image: url(../img/pink.jpg);
}

.product-item:nth-child(3) {
	background-image: url(../img/barbershop.jpg);
}

.product-item:nth-child(4) {
	background-image: url(../img/mishka.jpg);
}

.product-item:nth-child(5) {
	background-image: url(../img/aplus.jpg);
}

.product-item:nth-child(6) {
	background-image: url(../img/kvast.jpg);
}

.product-info {
	display: none;
}